body{
	background-color: rgb(211, 210, 210);
	display:none;
			}
			#header{
				position: sticky;
				background-color: whitesmoke;
				height: wrap-content;
				margin-bottom: 40px;
				box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
			}
			.txts{
				text-decoration: none;
				color: black;
				padding: 5px;
				
			}
			#btnAdd{
width: wrap-content;
				height: 35px;
				font-family: "Helvetica";
				font-size: 20px;
				padding: 5px;
				margin-top: 20px;
				border: 0px;
				background-color: whitesmoke;
				font-weight: 900;
			}
			#btnEdit{
				width: wrap-content;
				height: 35px;
				font-family: "Helvetica";
				font-size: 20px;
				padding: 5px;
				margin-top: 20px;
				border: 0px;
				background-color: whitesmoke;
				font-weight: 900;
			}
			#btnDelete{
				width: wrap-content;
				height: 35px;
				font-family: "Helvetica";
				font-size: 20px;
				padding: 5px;
				margin-top: 20px;
				border: 0px;
				background-color: whitesmoke;
				font-weight: 900;}
			#btnhome{
width: wrap-content;
				height: 35px;
				font-family: "Helvetica";
				font-size: 20px;
				padding: 5px;
				margin-top: 20px;
				border: 0px;
				background-color: whitesmoke;
				font-weight: 900;}

				#div1{
				color: black;
				background-color: whitesmoke;
				padding: 5px;
				border-radius: 15px;
				 overflow: hidden;box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192);
				transition: .2s linear;
				flex-direction: column;
  				box-shadow: 1.5px 1.5px 3px #0e0e0e, -1
 				 .5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
			}
			#logo{
				
				height: 80px;
				width: 80px;
			}
			
			#form1{
				font-size: 15px;
				font-family: "Roboto";
				font-weight: 900;
				width: 360px;
				border-radius: 10px;
				color: black;
			}

			#delete{
				margin-top: 15px;
				height: 30px;
				width: 70px;
				font-size: 18px;
				border-radius: 5px;
				background-color: whitesmoke;
				padding-bottom: 10px;
				font-weight: 900;
			}
			#back{
				margin-top: 15px;
				height: 30px;
				width: 70px;
				font-size: 18px;
				border-radius: 5px;
				background-color: whitesmoke;
				padding-bottom: 5px;
				margin-left: 20px;
				font-weight: 900
			}
			#txt{
				text-decoration: none;
				color: black;
			}
			